.app__chef-content {
    display       : flex;
    flex-direction: column;
    width         : 100%;
    margin-top    : 3rem;
}

.app__chef-content_quote {
    display        : flex;
    justify-content: flex-start;
    align-items    : flex-start;
}

.app__chef-content_quote img {
    width : 45px;
    height: 40px;
    margin: 3rem 1rem 1rem 0;
}

.app__chef-sign {
    width     : 100%;
    margin-top: 3rem;
}

.app_chef-sign p:first-child {
    font-family   : var(--font-base);
    font-weight   : 400;
    font-size     : 32px;
    line-height   : 41px;
    letter-spacing: .4rem;
    color         : var(--color-golden);
}

.app_chef-sign img {
    width     : 250px;
    margin-top: 3rem;
}